/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #972247;
	color: white;
	font-size: 16px;
}

a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration:none;
}
